
.navbar{
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    padding: 1.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: var(--ghost-white) url(/src/multimedia/svg/fondodiscreto.svg)  center/cover no-repeat;
}

#nav-brand{
    background-image: url(/src/multimedia/svg/logoCompleto.svg);
    background-repeat: no-repeat;
    padding: 1.5rem;
    max-width: 35rem;
    max-height: 10rem;
}

.NavEl {
    text-align: center;
    background-color: whitesmoke;
    padding: 0.05rem 0.45rem;
    font-size: 1.2rem;
    border: none;
    color: rgb(0, 0, 0);
    border: var(--CARNE) 2px solid;
    border-radius: 5px;
}
.ItemList  {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        padding-top: 30px;
        padding: 40px;
        justify-content: center;
        background-color: var(--CARNE);
}
h1 { 
    color: aliceblue;
    text-align: center; 
}
