.cartWit {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1vw;
    margin: 1vw;
}

.cartWit__total {
   color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 4rem;
   align-self: stretch;
}
.cartWit__img {
    padding: 5rem;
    background-image: url(../../public/CARTRED.svg);
    background-repeat: no-repeat;
    background-size: auto;
}
