.cartWit {
    display: flex;
    flex-direction: row;
 color: aliceblue;
 background-color: lightblue;
 width: 100%;
 padding: 10px;
 margin: 10px;
}

.cartWit__total {
   color: rgb(0, 0, 0);
   left: 0;
   width: 20vw;
}
.cartWit__img {

    width: 80vw;
    height: 10vh;
    padding: 10px;
    margin: 10px;
    right: 0;
    background-image: url(../../public/CARTRED.svg);
    background-repeat: no-repeat;
}
