.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 500px;
    width: 350px;
}

.form__Input{
    color: whitesmoke;
    border: none;
    border-bottom: solid 3px rgb(26, 75, 46);
    background: transparent;
    margin: 20px;
    height: 50px;
    
}

.form__Input::placeholder{
    color: var(--black);
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
}

.form__Input:focus{
    outline: none;
    color: var(--blue);
}

.form__Btn{
    border-radius: 6%;
    background-color:var(--blue);
    color: var(--white);
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.form__Btn:hover{
    background-color: var(--red);
}


.finished{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 10rem;

}

.finished__thx{
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    
}

.finished__code{
    margin-top: 2rem;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    background-color: var(--blue);
    color: var(--white);
    padding: 1.1rem;
}
.finished__home {
    margin-top: 2rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    background-color: var(--red);
    color: var(--white);
    padding: 1.1rem;
}.finished__home:hover {
    color: var(--black);
    border: 0.1rem var(--black) solid;
}
