footer{
    width: 100vw;
    position: fixed;
    background-color: var(--red);
    bottom: 0;
    z-index: 2;
}

footer > .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons{
    display: flex;
    padding: 1.5rem 0;
}
.social-icons a{
    color: var(--white);
    margin: 1 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 3rem;
    font-size: 1.5rem;
}
.social-icons a:hover{
    color: var(--blue);
}
