.detail {
    margin-left: 10vw ;
    top: 5vh;
    padding: 2rem;
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    width: auto;
}
.detail__img {
    width: auto;
    height: 18rem;
}
.detail__text {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem;
}
.detail__title {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
}
button {
    font-size: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: 0.5rem #404040 solid;
    cursor: pointer;
  }
  .counter {
    background-color:var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20vw;
  }
  .counter__add {
    color: var(--white);
    background-color: var(--blue);
    border-radius: 6px;
    width: 4rem;
    height: auto;
  }
  .counter__remove {
    color: var(--white);
    border-radius: 6px;
    background-color: var(--red);
    width: 4rem;
    height: auto;
  }
  .counter__number {
    color: var(--white);
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
  }
  .counter__cart {
    color: var(--white);
    margin: 1rem;
    font-size: 4rem;
    margin-top: 10rem;
  }
.bi-dash {
    font-size: 1rem;
    top: 0;
}
.bi-plus-lg {
    font-size: 1rem;
}