* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
 } 

body {
  background-color: #ffffff;
  max-width: 1920px;
  overflow: auto;

}
button {
    font-size: 2rem;
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 0.5rem #404040 solid;
    width: 20%;
    cursor: pointer;
  }
  button.add {
    background-color: #40c0f0;
    width: 1.5rem;
  }
  button.remove {
    background-color: #f04040;
    width: 1.5rem;
  }
h1 {
  text-align: center;
  background-color: #40c0f0;
  margin: 20px;
  padding: 20px;
  font-family: 'Bebas Neue', cursive;
}
p {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
}
h5 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}