
:root{
  --white: #ffff;
  --red: #DD4842;
  --blue: #5A9ECB;
  --black: #000;
  --trans: all 0.5s ease-in-out;
}
* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
 } 
h1 {
  text-align: center;
  background-color:var(--blue);
  margin: 20px;
  padding: 20px;
  font-family: 'Bebas Neue', cursive;
}
p {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
}
h5 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}
.keep {
  color: var(--white);
  background-color: var(--black);
  border: var(--black) double 1rem;
  padding: 0.1rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  margin-left: 25vw;
  margin-right: 25vw;
  text-align: center;
}
.keep:hover {
  border: var(--white) double 0.1rem;
}